doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='icon' href='https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico')
    title Floating labels example for Bootstrap
    link(rel='canonical' href='https://getbootstrap.com/docs/4.0/examples/floating-labels/')
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css' rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css' rel='stylesheet')
  body
    form.form-signin
      .text-center.mb-4
        img.mb-4(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg' alt='' width='72' height='72')
        h1.h3.mb-3.font-weight-normal Login Screen
        .alert.alert-danger(role='alert')
          | Invalid Credentials ! Login Failed.
      .form-label-group
        input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
        label(for='inputEmail') Email address
      .form-label-group
        input#inputPassword.form-control(type='password' placeholder='Password' required='')
        label(for='inputPassword') Password
      .checkbox.mb-3
        label
          input(type='checkbox' value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.mt-5.mb-3.text-muted.text-center © 2020